.adjust{
    /* background-color: green; */
    width: 1200px;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    padding-top: 200px;
}