<div class="bg" style="background-color: #f8f8f8">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 style="margin-left: 80px">Post Car</h1>
          </div>
        </div>

        <form nz-form>
          <div nz-row>
            <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
              <div class="profile-badge">
                <label
                  for="upload_profile_image"
                  class="upload-label"
                  *ngIf="selectedFile"
                >
                  <img class="profile" [src]="imagePreview" alt="profile" />
                </label>
                <input
                  type="file"
                  nz-button
                  nzType="primary"
                  id="upload_profile_image"
                  accept="image/x-png, image/gif, image/jpeg"
                  (change)="onFileSelected($event)"
                />
              </div>
            </div>

            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="This Input Is Required!"
                >
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select aBrand Name"
                  >
                    <nz-option
                      *ngFor="let brand of listOFBrands"
                      nzLabel="{{ brand }}"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="This Input Is Required!"
                >
                  <input nz-input placeholder="Name" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="This Input Is Required!">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select a Type"
                  >
                    <nz-option
                      *ngFor="let type of listOFType"
                      nzLabel="{{ type }}"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="This Input Is Required!">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select a Transmission"
                  >
                    <nz-option
                      *ngFor="let transmission of listOfTransmission"
                      nzLabel="{{ transmission }}"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="This Input Is Required!">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select a Color"
                  >
                    <nz-option
                      *ngFor="let color of listOfColor"
                      nzLabel="{{ color }}"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  NzDatePickerModule
                  nzErrorTip="This Input Is Required!"
                >
                  <input nz-input placeholder="Model Year" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="This Input Is Required!"
                >
                  <input nz-input placeholder="Price" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="This Input Is Required!"
                >
                  <textarea
                    rows="1"
                    nz-input
                    placeholder="Description"
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Post Car
          </button>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
